<template>
	<div class="app-root">
		<router-view></router-view>
	</div>
</template>

<script>
// Import Libraries
import { store } from './store/store';

// Vue Instance for Component
export default {}
</script>

<style lang="scss">
	body { margin: 0; }

	.app-root {
		display: flex;
		justify-content: flex-start;
	}
</style>