<template>
	<div class="pages-view">
		<div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title">Pages List</h3>
		      </div>
		      <div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Published</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="page in pages">
							<th scope="row">{{ page.id }}</th> <td>{{ page.title.rendered }}</td> <td>{{ page.date | moment }}</td> <td>{{ page.status }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="alert alert-info" role="alert"><strong>Quick tip:</strong> You can re-order pages by dragging and dropping them into place.</div>
	</div>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			pages: '',
			errorMsg: ''
		}
	},
	methods: {
		getpages() {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wp/v2/pages';

			axios.get(api)
				.then(function (response) {
					console.log(response);
					self.pages = response.data;
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).format('MMM Do YY');
		}
	},
	created: function () {
		this.getpages(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
</style>