<template>
	<nav class="logout-link">
		<router-link :to="{ name: 'login' }" active-class="active" exact>
			<img :src="require('../../../assets/sign-out.svg')">
		</router-link>
	</nav>
</template>

<script>
// Vue Instance for Component
export default {}
</script>

<style lang="scss">
	.logout-link {
		position: absolute;
		top: 30px;
		right: 30px;

		a {
			display: inline-block;
			img { width: 23px; height: 23px; }
		}
	}
</style>