<template>
	<div class="share-modules">
		<share-box title="Share on Facebook" desc="Make a tweet about Capstone and Earn 2 projects, 1 page, 10 images" icon="facebook.svg"></share-box>
		<share-box title="Tweet about Capstone" desc="Share your love for Capstone and Earn 2 projects, 1 page, 10 images" icon="twitter.svg"></share-box>
		<share-box title="Follow us on Twitter" desc="Make a tweet about Capstone and Earn 2 projects, 1 page, 10 images" icon="twitter.svg"></share-box>
		<share-box title="Like us on Facebook" desc="Share your love for Capstone and Earn 2 projects, 1 page, 10 images" icon="facebook.svg"></share-box>
		<share-box title="Refer your Friends" desc="Spread the word to your friends, family and coworkers." icon="friend.svg"></share-box>
		<share-box title="Subscribe to Newsletter" desc="Subscribe to our newsletter and Earn 2 projects, 1 page, 10 images" icon="envelope.svg"></share-box>
	</div>
</template>

<script>
// Import Components
import ShareBox from './child/ShareBox.vue'

// Vue Instance for Component
export default {
	components: {
		'share-box': ShareBox
	}	
}
</script>

<style lang="scss" scoped>

	.share-modules {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

</style>