<template>
	<transition name="fade">
		<div class="usage-status">
			<progress-bar title="Pages" value="3 of 10" progress="35"></progress-bar>
			<progress-bar title="Projects" value="5 of 10" progress="50"></progress-bar>
			<progress-bar title="Media" value="75 of 100" progress="75"></progress-bar>
		</div>
	</transition>
</template>

<script>
// Import Components
import ProgressBar from './child/ProgressBar.vue'

// Vue Instance for Component
export default {
	components: {
		'progress-bar': ProgressBar
	}	
}
</script>

<style lang="scss" scoped>

	.usage-status {}

	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0
	}

</style>