<template>
	<section class="usage-content">
		<usage-status></usage-status>
		<hr>
		<h2 class="section-title">Earn Space</h2>
		<share-boxes></share-boxes>
	</section>
</template>

<script>
// Import Libraries
import axios from 'axios';

// Import Components
import UsageStatus from './UsageStatus.vue'
import ShareBoxes from './ShareBoxes.vue'


// Vue Instance for Component
export default {
	components: {
		'usage-status': UsageStatus,
		'share-boxes': ShareBoxes
	}	
}
</script>

<style lang="scss" scoped>

	hr {
		border: 1px solid #EBEBEC;
		margin: 70px 0;
	}

</style>