<template>
	<div class="admin-root">
		<admin-sidebar></admin-sidebar>
		<admin-body></admin-body>
		<logout-link></logout-link>
	</div>
</template>

<script>
// Import Components
import Header from './Header.vue'
import Body from './Body.vue'
import LogoutLink from './authentication/LogoutLink.vue'
// import BallonCSS from 'balloon-css'

// Vue Instance for Component
export default {
	components: {
		'admin-sidebar': Header,
		'admin-body': Body,
		'logout-link': LogoutLink
	}
}
</script>

<style lang="scss">

	body { margin: 0; }
	* { box-sizing: border-box; }
	
	.admin-root {
		width: 100vw;
		display: flex;
		justify-content: flex-start;
	}

</style>