<template>
  <section class="usage-content">
    <usage-status/>
    <hr>
    <h2 class="section-title">Earn Space</h2>
    <share-boxes/>
  </section>
</template>

<script>
// Import Components
import UsageStatus from './UsageStatus.vue'
import ShareBoxes from './ShareBoxes.vue'

// Vue Instance for Component
export default {
  components: {
    'usage-status': UsageStatus,
    'share-boxes': ShareBoxes
  }
}
</script>

<style lang="scss" scoped>

  hr {
    border: 1px solid #EBEBEC;
    margin: 70px 0;
  }

</style>