<template>
  <transition name="fade">
    <div class="usage-status">
      <progress-bar title="Pages" :value="getPageLimit.label" :progress="getPageLimit.percentage"></progress-bar>
      <progress-bar title="Projects" :value="getPortfolioLimit.label" :progress="getPortfolioLimit.percentage"></progress-bar>
      <progress-bar title="Media" :value="getMediaLimit.label" :progress="getMediaLimit.percentage"></progress-bar>
    </div>
  </transition>
</template>

<script>
// Import Libraries
import axios from 'axios'

// Import Components
import ProgressBar from './child/ProgressBar.vue'

// Vue Instance for Component
export default {
  components: {
    'progress-bar': ProgressBar
  },
  data: function () {
    return {
      authorization: ''
    }
  },
  computed: {
    getPageLimit () {
      const current = 3
      const limit = this.authorization.page_limit
      return {
        label: `${current} of ${limit}`,
        percentage: Math.round((current / limit) * 100)
      }
    },
    getPortfolioLimit () {
      const current = 5
      const limit = this.authorization.portfolio_limit
      return {
        label: `${current} of ${limit}`,
        percentage: Math.round((current / limit) * 100)
      }
    },
    getMediaLimit () {
      const current = 5
      const limit = this.authorization.media_limit
      return {
        label: `${current} of ${limit}`,
        percentage: Math.round((current / limit) * 100)
      }
    }
  },
  methods: {
    async getAuthorizations () {
      const api = this.$store.getters.baseAPI + '/authorization'
      const authToken = this.$store.getters.authToken

      const results = await axios.get(api, { headers: { Authorization: authToken } })
      this.authorization = results.data
    }
  },
  created: function () {
    this.getAuthorizations() // init this function on 'created' life-cycle hook
  }
}
</script>

<style lang="scss" scoped>

  .usage-status {}

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }

</style>