<template>
	<div class="settings-page">
		<div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title">Site Setting</h3>
		      </div>
		      <div class="panel-body">
				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Site Title</label>
				    <input type="text" class="form-control" id="site-title" :value="siteTitle">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Site Description</label>
				    <input type="text" class="form-control" id="site-desc" :value="siteDesc">
				  </div>
				  <button type="submit" class="btn btn-default" @click.prevent="updateSettings">Update</button>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			settings: '',
			siteTitle: '',
			siteDesc: '',
			errorMsg: ''
		}
	},
	methods: {
		getSettings() {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wp/v2/settings';
			const auth = this.$store.getters.authAPI;

			axios.get(api, {
				    headers: { Authorization: auth }
				})
				.then(function (response) {
					console.log(response);
					self.settings = response.data;
					self.siteTitle = response.data.title;
					self.siteDesc = response.data.description;
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		},

		updateSettings() {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wp/v2/settings';
			const auth = this.$store.getters.authAPI;

			axios.post(api, {
					title: self.siteTitle,
					description: self.siteDesc,
				    headers: { Authorization: auth }
				})
				.then(function (response) {
					console.log(response);
					console.log("Yeah! Posted.");
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		}

	},
	filters: {
		moment: function (date) {
			return moment(date).format('MMM Do YY');
		}
	},
	created: function () {
		this.getSettings(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
</style>