<template>
	<div class="admin-root">
		<div class="container">
			<app-header></app-header>
			<h1>{{ data.name }} <small v-if="data.length !== 0">({{ data.description }})</small></h1>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
// Import Libraries
import axios from 'axios'
import { store } from '../../store/store';

// Import Components
import Header from './Header.vue'

// Vue Instance for Component
export default {
	components: {
		'app-header': Header
	},
	data: function () {
		return {
			msg: 'Admin Panel.',
			data: [],
		}
	},	
	methods: {
		getSiteData() {
			var self = this;
			const api = this.$store.getters.baseAPI;

			axios.get(api)
				.then(function (response) {
					console.log(response);
					self.data = response.data;
					self.$store.dispatch('setSiteURL', response.data.url); // dispatch siteURL to $store 'actions'
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		}
	},
	created: function () {
		this.getSiteData(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
	.admin-root {
		margin-top: 20px;
	}
</style>