<template>
	<div class="settings-page">
		<h3>This is settings page.</h3>
		<div class="data-dump">{{ settings }}</div>
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check me out
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			settings: '',
			errorMsg: ''
		}
	},
	methods: {
		getSettings() {
			var self = this;
			const api = 'http://demo.wpscouts.net/maier/wp-json/wp/v2/settings';

			axios.get(api)
				.then(function (response) {
					console.log(response);
					self.settings = response.data;
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).format('MMM Do YY');
		}
	},
	created: function () {
		this.getSettings(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
</style>