<template>
	<div class="themes-page">
		This is themes page.
	</div>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			settings: '',
			siteTitle: '',
			siteDesc: '',
			errorMsg: ''
		}
	}
}
</script>

<style lang="scss">
</style>