<template>
  <section id="site-body">
    <h2 class="page-title">{{ pageTitle }}</h2>
    <router-view></router-view>
  </section>
</template>

<script>
export default {
  computed: {
    pageTitle: function () {
      return this.$route.meta.title
    }
  }
}
</script>

<style lang="scss">
  #site-body {
    flex-grow: 1;
    padding: 30px 70px 60px 70px;
    font-family: "Open Sans";

    .page-title,
    .section-title
    {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 60px;
    }

  }
</style>