<template>

  <nav id="primary-sidebar">
    <div id="site-logo">
      <router-link :to="{ name: 'admin' }" active-class="active" exact><a><img src="../../assets/logo.png"></a></router-link>
    </div>

    <div id="primary-nav" class="nav-container">
      <h4 class="title">Main</h4>
      <ul class="nav-links">
        <router-link :to="{ name: 'projects' }" tag="li" active-class="active" exact><a>Projects</a></router-link>
        <router-link :to="{ name: 'pages' }" tag="li" active-class="active" exact><a>Pages</a></router-link>
        <router-link :to="{ name: 'themes' }" tag="li" active-class="active" exact><a>Themes</a></router-link>
        <router-link :to="{ name: 'customize' }" tag="li" active-class="active" exact><a>Customize</a></router-link>
      </ul>
    </div>

    <hr>

    <div id="secondary-nav" class="nav-container">
      <h4 class="title">Others</h4>
      <ul class="nav-links">
        <router-link :to="{ name: 'profile' }" tag="li" active-class="active" exact><a>Profile</a></router-link>
        <router-link :to="{ name: 'settings' }" tag="li" active-class="active" exact><a>Settings</a></router-link>
        <router-link :to="{ name: 'billing' }" tag="li" active-class="active" exact><a>Billing</a></router-link>
        <router-link :to="{ name: 'usage' }" tag="li" active-class="active" exact><a>Usage</a></router-link>
      </ul>
    </div>
  </nav>

</template>

<script>
export default {
  computed: {
    homeURL: function () {
      return this.$store.getters.siteURL
    }
  }
}
</script>

<style lang="scss">

  #primary-sidebar {
    min-width: 300px;
    min-height: 100vh;
    border-right: 1px solid #EBEBEC;

    #site-logo {
      padding: 30px 60px;
      
      img {
        max-width: 50px;
        height: auto;
      }
    }

    .nav-container {
      padding: 20px 60px;

      .title {
        font-family: "Lato";
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
      }
      .nav-links {
        font-family: "Open Sans";
        font-size: 17px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          line-height: 1.7;
          a {
            color: #373737;
            text-decoration: none;
          }
        }
      }
    }

    hr {
      border: 1px solid #EBEBEC;
    }

  }

</style>