<template>
  <div class="hello">
    <h1>{{ settings }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li><a href="https://vuejs.org" target="_blank">Core Docs</a></li>
      <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
      <li><a href="https://chat.vuejs.org" target="_blank">Community Chat</a></li>
      <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
      <br>
      <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
      <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
      <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
    </ul>
  </div>
</template>

<script>
// Import Libraries
import axios from 'axios'

// Vue Instance for Component
export default {
  data: function () {
    return {
      settings: 'sds'
    }
  },
  methods: {
    async getSettings () {
      const api = 'http://wpscouts.lvh.me:9000/api/v1/settings'
      const authToken = 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjU5ZTU0YmM0ODg3MzJkNGM4MDNkNGY4ZCIsImlhdCI6MTUwODE5OTM3NH0.aQz9YJgJi1xeLg-Jv7_6Me0vlHugqY8ZsGL2q1uwonM'
      const results = await axios.get(api, { headers: { Authorization: authToken } })
      this.settings = results.data
    }

  },
  created: function () {
    this.getSettings() // init this function on 'created' life-cycle hook
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
