<template>
  <div class="progress-bar">
    <p class="title" :data-value="value">{{ title }}</p>
    <progress max="100" :value="progressValue" :class="className"></progress>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  props: ['title', 'value', 'progress'],
  computed: {
    className: function () {
      return this.title.toLowerCase()
    },
    progressValue: function () {
      const progressValue = this.progress ? this.progress : 0
      return progressValue
    }
  }
}
</script>

<style lang="scss" scoped>

  .progress-bar {
    .title { font-size: 17px; }
  }

  progress[value] {
    appearance: none;
    border: none;
    width: 100%; height: 4px;
    background-color: #EC1561;
    border-radius: 2px;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em; 
  }

  progress[value]::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 2px;
    color: royalblue;
  }

  progress[value]::-webkit-progress-value {
    background-color: #EC1561;
    border-radius: 2px; 

  }
  progress.pages[value]::-webkit-progress-value {
    background-color: #EC1561;    
  }

  progress.projects[value]::-webkit-progress-value {
    background-color: #FE9E44;    
  }
  progress.media[value]::-webkit-progress-value {
    background-color: #3EB261;    
  }


  p[data-value] { position: relative; }
  p[data-value]:after {
    content: attr(data-value);
    position: absolute; right:0;
    color: #95989A;
    font-size: 17px;
  }

</style>