<template>
  <a class="module" href="#">
    <div class="icon"><img :src="iconPath"></div>
    <span class="separator"></span>
    <div class="text">
      <h4 class="title">{{ title }}</h4>
      <p class="desc">{{ desc }}</p>
    </div>
  </a>
</template>

<script>
// Vue Instance for Component
export default {
  props: ['title', 'desc', 'icon'],
  computed: {
    iconPath: function () {
      return require('../assets/' + this.icon)
    }
  }
}
</script>

<style lang="scss" scoped>

  .share-modules {

    .module {
      display: flex;
      justify-content: space-between;
      width: 48%;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      margin-bottom: 35px;
      text-decoration: none;
      transition: all 300ms ease-in-out;

      &:hover {
        border-color: #9A94E8;
        box-shadow: 0 0 0 1px #9A94E8;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        img { width: 40px; height: 40px; }
      }
      .separator {
        display: block;
        width: 1px;
        background-color: #D9D9D9;
        margin: 25px 0;
      }
      .text {
        width: 75%;
        margin: 20px 0;
        padding: 0 30px;

        .title {
          font-size: 16px;
          font-weight: 400;
          color: #000;
          margin: 0;
        }
        .desc {
          font-size: 15px;
          color: #95989A;
        }
      }
    }
  }

</style>