<template>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <router-link :to="{ name: 'home' }" class="navbar-brand" exact>WordPress API</router-link>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <router-link :to="{ name: 'home' }" tag="li" active-class="active" exact><a>Dashboard</a></router-link>
	        <router-link :to="{ name: 'settings' }" tag="li" active-class="active" exact><a>Settings</a></router-link>
	        <router-link :to="{ name: 'posts' }" tag="li" active-class="active" exact><a>Posts</a></router-link>
	        <router-link :to="{ name: 'pages' }" tag="li" active-class="active" exact><a>Pages</a></router-link>
	        <router-link :to="{ name: 'themes' }" tag="li" active-class="active" exact><a>Themes</a></router-link>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a :href="homeURL" target="_blank">Visit Site</a></li>
	        <li><a href="#">Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

</template>

<script>
export default {
	computed: {
		homeURL: function() {
			return this.$store.getters.siteURL;
		}
	}
}
</script>

<style lang="scss">
	.navbar {
		margin-bottom: 30px;
	}
</style>