<template>
	<div class="posts-view">
		<div class="panel panel-default">
		      <div class="panel-heading">
		        <h3 class="panel-title">Themes List</h3>
		      </div>
		      <div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Sceenshot</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="theme in results">
							<th scope="row">{{ theme.name }}</th>
							<td>
								<div class="thumbnail">
									<img :src="theme.screenshot">
								</div>
							</td>
							<td>
								<span v-if="theme.status" class="btn btn-info">Active</span>
								<span v-else class="btn btn-success"><a href="#" @click.prevent="switchTheme(theme.stylesheet)">Activate</a></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="alert alert-info" role="alert"><strong>Quick tip:</strong> You can re-order pages by dragging and dropping them into place.</div>
	</div>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			results: '',
			errorMsg: ''
		}
	},
	methods: {
		getThemes() {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wpscouts/v1/get_themes/';

			axios.get(api)
				.then(function (response) {
					console.log(response);
					self.results = response.data;
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		},
		switchTheme(name) {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wpscouts/v1/switch_theme/';

			axios.post(api, {
			    name: name
			  })
			  .then(function (response) {
			    console.log(response);
			    self.getThemes(); // init this function on 'created' life-cycle hook
			  })
			  .catch(function (error) {
			    console.log(error);
			  });
		}
	},
	created: function () {
		this.getThemes(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
	.btn {
		width: 80px;
		a { color: #fff; text-decoration: none; display: block; }
	}
	.thumbnail {
		width: 175px;
		height: 140px;
		overflow: hidden;
	}
</style>