<template>
	<table class="table table-bordered">
		<caption>List of all posts.</caption>
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Published</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="post in posts">
				<th scope="row">{{ post.id }}</th>
				<td>{{ post.title.rendered }}</td>
				<td>{{ post.date | moment }}</td>
				<td>{{ post.status }}</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
// Import Libraries
import moment from 'moment';
import axios from 'axios';

// Vue Instance for Component
export default {
	data: function () {
		return {
			posts: '',
			errorMsg: ''
		}
	},
	methods: {
		getPosts() {
			var self = this;
			const api = this.$store.getters.baseAPI + '/wp/v2/posts';

			axios.get(api)
				.then(function (response) {
					console.log(response);
					self.posts = response.data;
				})
				.catch(function (error) {
					console.log(error);
					self.errorMsg = error;
				});
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).format('MMM Do YY');
		}
	},
	created: function () {
		this.getPosts(); // init this function on 'created' life-cycle hook
	}
}
</script>

<style lang="scss">
</style>