<template>
  <div class="app-root">
    <router-view/>
  </div>
</template>

<script>
// Vue Instance for Component
export default {
  name: 'app'
}
</script>

<style lang="scss">
  body { margin: 0; }

  .app-root {
    display: flex;
    justify-content: flex-start;
  }
</style>