<template>
	<div class="profile-content">
		<form>
			<fieldset>
				<legend>General</legend>
				<div class="form-field-wrap">
					<input id="user-name" class="form-field" type="text" placeholder="Name">
					<span class="field-desc">You name as it is stored in our records.</span>
				</div>
				<div class="form-field-wrap">
					<input id="user-email" class="form-field" type="text" placeholder="Email">
					<span class="field-desc">You email address, we'll use it for primary communication.</span>
				</div>
			</fieldset>

			<fieldset>
				<legend>Password</legend>
				<div class="form-field-wrap">
					<input id="password-current" class="form-field" type="password" placeholder="Current Password">
					<span class="field-desc">Enter your current password if you intend to change it.</span>
				</div>
				<div class="form-field-wrap">
					<input id="password" class="form-field" type="password" placeholder="New Password">
					<span class="field-desc">Enter your new password.</span>
				</div>
				<div class="form-field-wrap">
					<input id="password-confirmation" class="form-field" type="password" placeholder="Confirm Password">
					<span class="field-desc">Enter you new password again to make sure you've not mistyped.</span>
				</div>
			</fieldset>

			<input type="submit" value="Save Changes">
		</form>
	</div>
</template>

<script>
// Vue Instance for Component
export default {}
</script>

<style lang="scss">
</style>