<template>
	<div class="profile-content">
		<form>
			<fieldset>
				<legend>General</legend>
				<div class="form-field-wrap">
					<input id="user-name" class="form-field" type="text" :value="profile.name" placeholder="Name">
					<span class="field-desc">You name as it is stored in our records.</span>
				</div>
				<div class="form-field-wrap">
					<input id="user-email" class="form-field" type="text" :value="profile.email" placeholder="Email">
					<span class="field-desc">You email address, we'll use it for primary communication.</span>
				</div>
			</fieldset>

			<fieldset>
				<legend>Password</legend>
				<div class="form-field-wrap">
					<input id="password-current" class="form-field" type="password" placeholder="Current Password">
					<span class="field-desc">Enter your current password if you intend to change it.</span>
				</div>
				<div class="form-field-wrap">
					<input id="password" class="form-field" type="password" placeholder="New Password">
					<span class="field-desc">Enter your new password.</span>
				</div>
				<div class="form-field-wrap">
					<input id="password-confirmation" class="form-field" type="password" placeholder="Confirm Password">
					<span class="field-desc">Enter you new password again to make sure you've not mistyped.</span>
				</div>
			</fieldset>

			<input type="submit" value="Save Changes">
		</form>
	</div>
</template>

<script>
// Import Libraries
import axios from 'axios'

// Vue Instance for Component
export default {
  data: function () {
    return {
      profile: ''
    }
  },
  methods: {
    async getProfile () {
      const api = this.$store.getters.baseAPI + '/users/profile'
      const authToken = this.$store.getters.authToken

      const results = await axios.get(api, { headers: { Authorization: authToken } })
      this.profile = results.data
    }
  },
  created: function () {
    this.getProfile() // init this function on 'created' life-cycle hook
  }
}
</script>

<style lang="scss">
</style>