<template>
  <section class="settings-content">
    <form>
      <fieldset>
        <legend>General</legend>
        <div class="form-field-wrap">
          <input id="site-title" class="form-field" type="text" :value="settings.site_title" placeholder="Site Title">
          <span class="field-desc">Used as your site logo.</span>
        </div>
        <div class="form-field-wrap">
          <textarea id="site-desc" class="form-field" rows="3" :value="settings.site_desc" placeholder="Site Description"></textarea>
          <span class="field-desc">This is the text that search engines use as yoursite's description.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Domain</legend>
        <div class="form-field-wrap">
          <span class="field-mask">.capstone.com</span>
          <input id="site-subdomain" class="form-field" type="text" :value="settings.site_subdomain" placeholder="Site Subdomain">
          <span class="field-desc">By default this address will be used to access your site.</span>
        </div>
        <div class="form-field-wrap">
          <input id="custom-url" class="form-field" type="text" placeholder="Custom URL">
          <span class="field-desc">Link your own custom domain.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Privacy &amp; Analytics</legend>
        <div class="form-field-wrap">
          <input class="form-field" id="site-password" type="password" placeholder="Site Password">
          <span class="field-desc">Control who sees your amazing work with a handy dandy access code.</span>
        </div>
        <div class="form-field-wrap">
          <input id="google-analytics" class="form-field" type="text" placeholder="Google Analytics">
          <span class="field-desc">Track who’s checking out your portfolio by adding Google Analytics.</span>
        </div>
      </fieldset>

      <input type="submit" value="Save Changes">
    </form>
  </section>
</template>

<script>
// Import Libraries
import axios from 'axios'

// Vue Instance for Component
export default {
  data: function () {
    return {
      settings: ''
    }
  },
  methods: {
    async getSettings () {
      const api = this.$store.getters.baseAPI + '/settings'
      const authToken = this.$store.getters.authToken

      const results = await axios.get(api, { headers: { Authorization: authToken } })
      this.settings = results.data
    }
  },
  created: function () {
    this.getSettings() // init this function on 'created' life-cycle hook
  }
}
</script>

<style lang="scss">
  form {
    fieldset {
      border: 0;
      padding: 0;
      margin: 0 0 20px 0;

      legend {
        font-family: "Open Sans";
        font-size: 16px;
        text-transform: uppercase;
        color: #B2B2B2;
        padding: 0 0 25px 0;
      }
      .form-field-wrap {
        position: relative;
        display: flex;
        justify-content: flex-start;

        .field-mask {
          position: absolute;
          top: 1px;
          left: 450px;
          display: inline-block;
          background: #fff;
          font-size: 16px;
          color: #9A94E8;
          height: 55px;
          line-height: 55px;
          padding: 0 17px;
          border-left: 1px solid #D9D9D9;
          border-radius: 0 5px 5px 0;
        }
        .form-field {
          width: 600px;
        }
        .field-desc {
          flex: 1;
          margin-left: 35px;
          font-size: 15px;
          color: #393939;
          opacity: 0.68;
        }
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    select,
    textarea {
      font-family: "Open Sans";
      font-size: 16px;
      display: block;
      width: 100%;
      color: #000;
      margin: 0 0 28px 0;
      vertical-align: baseline;
      padding: 0.22rem 1.5rem;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      line-height: 48px;
      transition: all 300ms ease-in-out;
      box-shadow: none;
        appearance: none;
    }

    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="url"]:hover,
    input[type="password"]:hover,
    input[type="search"]:hover,
    input[type="tel"]:hover,
    select:hover,
    textarea:hover {
      border-color: rgba(0, 0, 0, 0.25);
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
      outline: medium none;
      border-color: #9A94E8;
      box-shadow: 0 0 0 1px #9A94E8;
    }


    input[type="submit"],
    input[type="button"]
    {
      font-family: "Open Sans";
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
      padding: 15px 40px;
      transition: all 300ms ease-in-out 0s;

      letter-spacing: 0.5px;
      display: inline-block;
      margin-top: 30px;
      border-width: 2px;
      border-style: solid;
      border-radius: 3px;
      background: #7BC44F;
      border-color: #7BC44F;
      color: #FFF;
      transition: all 200ms ease-in-out 0s;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover
    {
      cursor: pointer;
      background: #7BC44F;
      border-color: #7BC44F;
    }

    ::placeholder { color: #A8A8A8; }

  }
</style>